<% include partials/_head %>
<% include partials/_menu %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css"
    integrity="sha256-IvM9nJf/b5l2RoebiFno92E5ONttVyaEEsdemDC6iQA=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"
    integrity="sha256-arMsf+3JJK2LoTGqxfnuJPFTU4hAK57MtIPdFpiHXOU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"
    integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>

<style>
    #myChart {
        width: 10%;
        height: 10;
    }

</style>


<div class="container mt-5">
   <div class="title-resultados mb-5">
        <h1>Ya tenemos tus resultados <%= user.nombre %>!</h1>
   </div>
    <div class="row">
        <div class="col-sm-6">
            <canvas id="myChart"></canvas>
        </div>
        <div class="col-sm-6">
            <h4>Tus mejores cualidades son: </h4>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <p><%= resultados[1][1]  %></p>
                            <strong>Puntaje: </strong>
                            <p> <%= resultados[1][0] %> </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <p><%= resultados[2][1]  %></p>
                            <strong>Puntaje: </strong>
                            <p> <%= resultados[2][0] %> </p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <p><%= resultados[3][1]  %></p>
                            <strong>Puntaje: </strong>
                            <p> <%= resultados[3][0] %> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="alert alert-success">
        <h3>Ya le avisamos a tu Psico, solo espera a que te contacte :D.</h3> <a href="/perfil" class="btn btn-light ">Volver al perfil</a>
    </div>
   

</div>
<script>
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['<%= resultados[1][1] %>', ' <%= resultados[2][1] %>', '<%= resultados[3][1] %>', '<%= resultados[4][1] %>', '<%= resultados[5][1] %>', '<%= resultados[6][1] %>', '<%= resultados[7][1] %>', '<%= resultados[8][1] %>', '<%= resultados[9][1] %>'],
            datasets: [{
                label: '# de resultados',
                data: [ <%= resultados[1][0] %>,  <%= resultados[2][0] %>, <%= resultados[3][0] %>, <%= resultados[4][0] %>, <%= resultados[5][0] %>, <%= resultados[6][0] %>, <%= resultados[7][0] %>, <%= resultados[8][0] %>, <%= resultados[9][0] %>],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>