<% include partials/_head %>
<% include partials/_menu %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css"
    integrity="sha256-IvM9nJf/b5l2RoebiFno92E5ONttVyaEEsdemDC6iQA=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"
    integrity="sha256-arMsf+3JJK2LoTGqxfnuJPFTU4hAK57MtIPdFpiHXOU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"
    integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>

<style>
    #myChart {
        width: 10%;
        height: 10;
    }
    .mejorCard{
        background: #ECE9E6;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: black;
        border-radius: 10px;
        border: transparent;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        margin: 10px;
    }
    .mejorCard:hover{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
</style>


<div class="container mt-5">
   <div class="title-resultados mb-5">
        <h1>Estos son tus resultados, <%= user.nombre %></h1>
   </div>
    <div class="row">
        <div class="col-sm-6">
            <canvas id="myChart"></canvas>
        </div>
        <div class="col-sm-6 mt-5">
            <h3>Tus mejores cualidades son: </h3>
            <div class="row">
                <div class="col-md-6 col-sm-6 ">
                    <div class="card mejorCard">
                        <div class="card-body">
                            <strong><h3><%= resultados[1][1]  %></h3></strong>
                            <p>Puntaje:</p>
                            <p> <%= resultados[1][0] %> </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="card mejorCard">
                        <div class="card-body">
                            <h3><%= resultados[2][1]  %></h3>
                            <p>Puntaje: </p>
                            <p> <%= resultados[2][0] %> </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="card mejorCard">
                        <div class="card-body">
                            <h3><%= resultados[3][1]  %></h3>
                            <p>Puntaje: </p>
                            <p> <%= resultados[3][0] %> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="alert alert-success mt-5">
        <h3>Ya le avisamos a tu Psico, solo espera a que te contacte :D.</h3> <a href="/perfil" class="btn btn-light ">Volver al perfil</a>
    </div>
   

</div>
<script>
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['<%= resultados[1][1] %>', ' <%= resultados[2][1] %>', '<%= resultados[3][1] %>', '<%= resultados[4][1] %>', '<%= resultados[5][1] %>', '<%= resultados[6][1] %>', '<%= resultados[7][1] %>', '<%= resultados[8][1] %>', '<%= resultados[9][1] %>'],
            datasets: [{
                label: '# de resultados',
                data: [ <%= resultados[1][0] %>,  <%= resultados[2][0] %>, <%= resultados[3][0] %>, <%= resultados[4][0] %>, <%= resultados[5][0] %>, <%= resultados[6][0] %>, <%= resultados[7][0] %>, <%= resultados[8][0] %>, <%= resultados[9][0] %>],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>